body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}
.selector {
  display: flex; /* Activamos flexbox */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  padding: 20px 30px 60px 30px;
  border-radius: 30px;
  width: 60vw;
  max-width: 1000px;
  height: max-content;
  gap: 15px;
}
h1 {
  font-size: 40px;
  text-align: center;
  background-color: #161616;
  border-radius: 23px;
  padding: 40px;
  color: white;
  margin-bottom: 20px;
  box-shadow: #000000 3px 5px 0px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
}
ul {
  padding: 0;
  margin: 0 0 0 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-list {
  width: 60%;
  padding: 20px 10vw;
  border-radius: 15px;
  background-color: aliceblue;
  box-shadow: #585858 3px 5px 0px;
  transition: transform 0.3s ease;
  text-align: center;
  display: block;
}

.game-list:hover {
  transform: scale(1.05);
}
