h1 {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
body {
  background-color: #111;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}

.game-container {
  background-color: #222;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  width: 70%;
  max-width: 1000px;
}

.opciones {
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.regresar {
  font-size: 25px;
  margin: 0;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: #333333;
  border-radius: 23px;
  padding: 5px 30px;
  box-shadow: #000000 3px 5px 0px;
}

button {
  border: none;
  cursor: pointer;
  background-color: #11111100;
}
.btn {
  font-size: 15vh;
}

.resultados {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 10px;
}

#mensaje {
  font-size: 15px;
  margin: 0px;
  background-color: #00000033;
  border-radius: 15px;
  padding: 10px;
}
#resultado {
  font-size: 35px;
  margin: 0px;
  margin-bottom: 0px;
  border-radius: 15px;
  padding: 10px;
}

#estadisticas {
  font-size: 15px;
  margin: 0px;
  background-color: #ffffff00;
  border-radius: 15px;
  padding: 10px;
}

#resetLeaderboard {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #444;
  color: white;
  border-radius: 10px;
  box-shadow: #000000 3px 5px 0px;
}

.gana {
  background-color: lightgreen;
  color: #006400;
}
.pierde {
  background-color: #ff0000;
  color: #8b0000;
}
.empate {
  background-color: #ffff00;
  color: #808000;
}
